
<div class="navbar nav-bar" role="banner">
    <div class="container">
        <nav class="navbar-expand-lg">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li *ngFor="let c of categories"class="category nav-item dropdown" >
                        <a class="nav-link" href="products/category/{{c.id}}">
                            {{c.libelle}}
                        </a>
                    </li>  
                    <!--*ngIf="info.authorities==='admin'"-->
                    <li *ngIf="isAdmin"  class="nav-item dropdown" >
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a href="admin/users" class="dropdown-item">Users</a>
                            <a href="admin/produits" class="dropdown-item">Products</a>
                            <a href="admin/categories" class="dropdown-item">Orders</a>
                        </div>
                    </li>
                    <li *ngIf="currentUser&&!isAdmin" class="category nav-item dropdown"> <a class="nav-link" href="/profile">
                        Profile
                    </a> </li>

                </ul>
            </div>
        </nav>
    </div>
  </div>
  