<div class="items">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title">List of  {{category.libelle}}</h3>                
            </div>
            <div class="col-md-3 col-sm-4" *ngFor="let p of products ">
                <div class="item">
                
                    <a href="#"><img class="item-image" src="{{p.url}}" alt="" /></a>
                    <h6><a href="#">{{p.productName}}</a></h6>
                    <hr />
                    <div class="item-price float-left">${{p.productPrice}}</div>
                    <button  (click)="addToCart(p)"class="btn float-right">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!---
<div class="item">
    <a href="#"><img class="item-image" src="{{p.url}}" alt="" /></a>
    <h6><a href="#">{{p.productName}}</a></h6>
    <hr />
    <div class="item-price float-left">${{p.productPrice}}</div>
    <button class="btn float-right"(click)="addToCart()" >Add to Cart</button>
   
</div>
-->
